<%= form_for(@rs_name) do |f| %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<% unless signed_in? %>
		<div class="field">
			<%= label_tag :email %><br />
			<%= text_field_tag :user_email, (@rs_name.user.email if @rs_name.user) %>
		</div>
	<% end %>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
