<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rs_name.name %>
</p>

<p>
  <b>User:</b>
  <%= @rs_name.user_id %>
</p>


<%= link_to 'Edit', edit_rs_name_path(@rs_name) %> |
<%= link_to 'Back', rs_names_path %>
