%h1 Listing users
%table
  %tr
    %th Email
    %th Has Pass?
    %th Tracked Names
    %th
    %th
    %th
  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.password_digest.present?
      %td= user.rs_names.count
      %td= link_to "Show", user
      %td= link_to "Edit", edit_user_path(user)
      %td= link_to "Destroy", user, method: :delete, data: { confirm: "Are you sure?"}
%br/
= link_to 'New User', new_user_path
